/*//////// GENERAL SETTINGS ////////*/
body{
	height: 100%;
	font: 'Raleway', sans-serif;
	margin: 0;
	background-repeat: no-repeat; /*почему остается repeat на радиальном градиенте? Возможно это из-за высоты body не на весь экран, но почему он не растянулся?*/
	background-size: contain;
	background: linear-gradient(to right, #82dce8, #f09347);
}

header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1{
	margin-bottom: 0em;
	font-size: 2em;
}
h2{
	margin-top: 0.5em;
}

.container{
	width: 100%;
	height: 100%;
	padding: 0.3em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.5em;
}

.buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

h4{
	margin-top: 4.8em;
	margin-bottom: 0.3em;
	letter-spacing: normal;
	text-transform: none;
	font-size: 2.7em;
	width: 17em;
}


/*//////// LEFT MENU BAR ////////*/
.defaultMenu1{
	display: flex;
	flex-direction: column;
	width: 13em;
	height: 9em;
	margin-right: 3em;
	margin-left: 3em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding-top: 1.85em;
	padding-bottom: 1.85em;
	background: none;
	border: 0.2em solid #566054;
	border-radius: 10em;
	box-shadow: 0 0.2em 0.2em 0;
}

.howManyColors{
	margin-top: 1em;
	letter-spacing: normal;
	text-transform: none;
	padding: none;
	margin-bottom: 0.55em;
}

.pickGradientMode{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buttonTwo{
	margin: 0.3em 0 0.3em 0;
	text-transform: uppercase;
	padding: 0;
	width: 10em;
	height: 2.5em;
	background: linear-gradient(45deg, #B1B1B1 0 50%, #F2F2F2 50% 100%);
	font-weight: 900;
}
.buttonTwo:hover{
	background: linear-gradient(45deg, #F2F2F2  0 50%, #B1B1B1 50% 100%);
	cursor: pointer;
}

.buttonThree{
	margin: 0.3em 0 0.3em 0;
	text-transform: uppercase;
	padding: 0;
	width: 10em;
	height: 2.5em;
	background: linear-gradient(45deg, #000000 0 33%, #B1B1B1 33% 67%, #F2F2F2 67% 100%);
	font-weight: 900;
}
.buttonThree:hover{
	cursor: pointer;
	background: linear-gradient(45deg, #B1B1B1 0 33%, #F2F2F2 33% 67%, #000000 67% 100%);
}

/*//////// RIGHT MENU BAR ////////*/
.defaultMenu2{
	display: flex;
	flex-direction: column;
	width: 13em;
	height: 9em;
	margin-right: 3em;
	margin-left: 3em;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding-top: 1.85em;
	padding-bottom: 1.85em;
	background: none;
	border: 0.2em solid #566054;
	border-radius: 10em;
	box-shadow: 0 0.2em 0.2em 0;
	
}

.whatType{
	letter-spacing: normal;
	text-transform: none;
	text-align: center;
	padding: none;
	margin-bottom: 0.55em;
	margin-top: 0em;
}

.buttonLinear{
  margin: 0.3em 0 0.3em 0;
  text-transform: uppercase;
  padding: 0;
  width: 10em;
  height: 2.5em;
  transform: transfer(-50%, -50%);
  color: #fff;
  font-size: 0.8em;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
}
.buttonLinear:hover{
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  animation: animate1 8s linear infinite;
}
@keyframes animate1
{
  0%
  {
    background-position: 0%;
  }
  100%
  {
    background-position: 400%;
  }
}
.buttonLinear:focus{
	box-shadow: box-shadow: inset 0.0em 0.1em 0.4em black;
}

.buttonRadial{
	text-transform: uppercase;
	padding: 0;
	width: 1em;
	height: 1em;
	border-radius: 5em;
}

#btn-gra2{ 
  width: 5em;
  height: 5em;
  margin-top: 0.8em;
  transform: transfer(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8em;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  /*не понял, как настроить Radial вместо Linear. Стиль взят из openSourse, не умею в keyFrames*/
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
}
#btn-gra2:hover{
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  animation: animate1 8s linear infinite;
}

@keyframes animate1
{
  0%
  {
    background-position: 0%;
  }
  100%
  {
    background-position: 400%;
  }
}

h4{
	display: flex;
	justify-content: center;
}


/*//////// GENERATED BY JavaScript ////////*/

/*//////// CENTRAL BUTTONS ////////*/
.colorPickers{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 24em;
	height: 13em;
}
.twoThree{
	display: flex;
	flex-direction: row;
}

.colorPicker{
	margin-right: 0.5em;
	border-radius: 0.5em;
	width: 5em;
	height: 2.4em;
	box-shadow: 0em 0.1em 0.4em black;
}
.colorPicker:hover{
	cursor: copy;
}
.randomizer{
	height: 2.3em;
	width: 11em;
	margin-top: 1em;
	padding: 0em;
	font-weight: 700;
	font-size: 1.3em;
	border-width: 0.2em;
	border-color: white;
	background-color: white;
	color: #0A3797;
	border-top-left-radius: 1.7em;
	border-top-right-radius: 1.7em;
	transition: 0.2s;
	font-family: Monaco;
	text-tra: uppercase;
	letter-spacing: 0.15em;
}
.randomizer:hover{
	background-color: #2C4DC4;
	border: none;
	color: white;
	box-shadow: 0.1em 0.1em 0.7em 0.1em #111827;
	cursor: pointer;
}
.randomizer:active{
	border-width: 0.1em;
	background-color: #DCDCDD;
	color: #0A3797;
	box-shadow: inset 0.0em 0.1em 0.4em black;
	letter-spacing: 0.1em;
	cursor: pointer;
}

.active{
	size: 110%;
}

.hexReferences{
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 50%;

}

h5{
	margin-top: 0em;
	margin-bottom: 0em;
	margin-right: 0.5em;
	margin-left: 0.5em;
	letter-spacing: normal;
	text-transform: none;
	font-size: 2.7em;
	width: 17em;
	text-align: center;
	cursor: pointer;
}

.popupHexCopied{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5em 0 0 0;
	height: 2em;
	width: 6.5em;
	padding: 0.3em;
	font-size: 1em;
	font-weight: 800;
	letter-spacing: 0em;
	text-align: center;
	border-width: 0.3em;
	border-color: black;
	background-color: #56C838;
	border-radius: 0.8em 0.8em 0.8em 0.8em;
	box-shadow: 0 0.4em 0.3em 0;
}

/*//////// TEST STYLES ////////*/
.buttonLinearFocus: focus{
	box-shadow: box-shadow: inset 0.0em 0.1em 0.4em black;
}



/*//////// SETTING RESPONSIVENESS ////////*/
@media (max-width: 480px)  {

html{
	font-size: 70%;
}

h1{
	font-size: 1.5em;
}

.buttons{
	flex-direction: column;
}

.defaultMenu1{
	display: flex;
	flex-direction: column;
	width: 18em;
	height: 7.3em;
	margin-right: 3em;
	margin-left: 3em;
	margin-top: 1em;
	margin-bottom: 0.2em;
	padding-top: 0.05em;
	padding-bottom: 0;
	padding-right: 0.15em;
	padding-left: 0.15em;
	border: 0.05em solid #566054;
	border-radius: 0.3em;
	box-shadow: 0 0.1em 0.1em 0;
}

.buttonTwo{
	margin: 0.1em 0.1em 0 0.1em;
	width: 70%;
	height: 2em;
	font-weight: 400;
}

.buttonThree{
	margin: 0.1em 0.1em 0 0.1em;
	width: 70%;
	height: 2em;
	font-weight: 400;
}

.defaultMenu2{
	width: 18em;
	height: 7.3em;
	margin-right: 3em;
	margin-left: 3em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	padding-top: 0.05em;
	padding-bottom: 0;
	padding-right: 0.15em;
	padding-left: 0.15em;
	border: 0.05em solid #566054;
	border-radius: 0.3em;
	box-shadow: 0 0.1em 0.1em 0;
	
}

.pickGradientMode{
	flex-direction: row;
	justify-content: center;
	align-items: bottom;
}

.whatType{
	margin-bottom: 0;
	margin-top: 0.9em;
}

.buttonLinear{
  margin: 0 0.5em 0.3em 0.1em;
  font-size: 1em;
}

.buttonRadial{
	margin: 0 0.1em 0.3em 0.5em;
	padding: 0;
	width: 1em;
	height: 1em;
	border-radius: 5em;
	align-items: center;
}

h4{
	margin-top: 1em;
}

h5{
	font-size: 2.3em;
}

}